<section id="testimonials" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-5">Success Stories</h2>
        <div class="row g-4">
            <div class="col-md-4" *ngFor="let item of marriedCandidates">
                <div class="card border-0 shadow-sm">
                    <img src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a" class="card-img-top"
                        alt="Couple">
                    <div class="card-body text-center">
                        <h5>{{item.candidate1}} & {{item.candidate2}}</h5>
                        <p>"Found our Perfect match within months! Forever grateful."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>