<nav class="navbar navbar-expand-lg fixed-top bg-white">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="https://images.unsplash.com/photo-1496200186974-4293800e2c20?w=40&h=40&fit=crop" alt="Logo"
                class="rounded-circle me-2">Forever Together
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="navigateTo('home')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="navigateTo('features')">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="navigateTo('success-stories')">Success Stories</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        My Profile
                    </a>
                    <!--dropdown-toggle-->
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="navigateTo('create-profile')">Complete Profile</a></li>
                        <li><a class="dropdown-item" (click)="openPopup()">View Profile</a></li>
                        <li><a class="dropdown-item" (click)="navigateTo('edit-profile')">Edit Profile</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="navigateTo('matching-profiles')">Matching Profiles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="navigateTo('sent-rec')">Sent & Received</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="navigateTo('app-payment-form')">Payment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="navigateTo('contact-us')">Contact Us</a>
                </li>
                <li class="nav-item">
                    <button *ngIf="!isLogin()" class="btn btn-primary ms-3" data-bs-toggle="modal"
                        data-bs-target="#loginModal">Login</button>
                    <button *ngIf="isLogin()" (click)="logOut()" class="btn btn-primary ms-auto">
                        <fa-icon [icon]="faUser"></fa-icon>
                        &nbsp;&nbsp;
                        <strong><small>{{getUserName()}}</small></strong>
                        &nbsp;&nbsp;
                        <fa-icon [icon]="faLogout"></fa-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<ng-container *ngIf="selectedCandidateId">
    <app-candidate-details-dialog 
      [candidateId]="selectedCandidateId" 
      (closeDialog)="closePopup()">
    </app-candidate-details-dialog>
  </ng-container>