<div class="modal-overlay" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header" [ngClass]="{'bg-success': candidate?.isSuccess, 'bg-info': !candidate?.isSuccess}">
      <h5 class="modal-title">Candidate Details</h5>
      <button type="button" class="btn-close" (click)="onClose()"></button>
    </div>
    <div class="modal-body" *ngIf="candidate">
      <div class="container">
        <div class="row">
          <p><strong>Name:</strong> {{ candidate.firstName }} {{ candidate.middleName }} {{ candidate.lastName }}</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <p><strong>Religion: </strong> {{ candidate.religion }}</p>
          </div>
          <div class="col-sm">
            <p><strong>Cast: </strong>{{ candidate.cast }}</p>
          </div>
          <div class="col-sm">
            <p><strong>Subcast: </strong>{{ candidate.subCast }}</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row-lg">
          <div class="col-md">
            <p><strong>Date Of Birth:</strong> {{ candidate.dob | date:'longDate' }}</p>
          </div>
          <div class="col">
            <p><strong>Age: </strong> 38 </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <p><strong>Complexion:</strong> {{ candidate.complexion }}</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <p><strong>Height:</strong> {{ candidate.height }} Cm</p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <p><strong>Weight:</strong> {{ candidate.weight }} Kg</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <p><strong>Village/City:</strong> {{ candidate.villageOrCity }}</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <p><strong>District:</strong> {{ candidate.district }}</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <p><strong>Contact:</strong> ########## </p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success me-3" (click)="onSendInterest()">Send Interest</button>
      <button class="btn btn-danger" (click)="onClose()">Close</button>
    </div>
  </div>
</div>