.centered-container {
    margin: 20px; 
    padding-block: 10px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
  }
 
 