<div id="profileModal" data-bs-backdrop="static" style=" border: 10px;">
    <div class="modal-dialog modal-lg" style=" border: 10px;">
        <div class="modal-content">
            <h1>
                <div class="centered-container">
                    <div>Complete Your Profile</div>
                </div>
            </h1>

            <div style="width: fit-content; padding: 20px;">
                <form #profileForm="ngForm" (ngSubmit)="onSaveProfile(profileForm)" class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" required
                            maxlength="100">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Middle Name</label>
                        <input type="text" class="form-control" [(ngModel)]="middleName" name="middleName" required
                            maxlength="100">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" required
                            maxlength="100">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" [(ngModel)]="DOB" name="DOB" required>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Gender</label>
                        <select class="form-select" [(ngModel)]="gender" name="gender" required>
                            <option value="">Choose...</option>na
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Address Line 1</label>
                        <input type="text" class="form-control" [(ngModel)]="addressLine1" name="addressLine1"
                            maxlength="100">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Address Line 2</label>
                        <input type="text" class="form-control" [(ngModel)]="addressLine2" name="addressLine2"
                            maxlength="100">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Taluka</label>
                        <input type="text" class="form-control" [(ngModel)]="taluka" name="taluka" required
                            maxlength="100">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">District</label>
                        <input type="text" class="form-control" [(ngModel)]="district" name="district" required
                            maxlength="100">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Pincode</label>
                        <input type="text" class="form-control" [(ngModel)]="pincode" name="pincode" required
                            maxlength="6" pattern="[0-9]{6}">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Village/City</label>
                        <input type="text" class="form-control" [(ngModel)]="villageOrcity" name="villageOrCity"
                            required maxlength="100">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Religion</label>
                        <input type="text" class="form-control" [(ngModel)]="religion" name="religion" required
                            maxlength="50">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Cast</label>
                        <input type="text" class="form-control" [(ngModel)]="cast" name="cast" required maxlength="50">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Sub Cast</label>
                        <input type="text" class="form-control" [(ngModel)]="subCast" name="subCast" maxlength="50">
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Height</label>
                        <input type="text" class="form-control" [(ngModel)]="height" name="height" maxlength="50">
                    </div>

                    <div class="col-md-2">
                        <label class="form-label">Weight</label>
                        <input type="text" class="form-control" [(ngModel)]="weight" name="weight" maxlength="50">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Complexion</label>
                        <input type="text" class="form-control" [(ngModel)]="complexion" name="complexion"
                            maxlength="50">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Photo</label>
                        <input type="file" (change)="onPhotoSelected($event)"  required>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Biodata</label>
                        <input type="file" (change)="onBiodataSelected($event)"  required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary w-100">Save Profile</button>
                    </div>
                    <div class="col-6">
                        <button type="button" (click)="onCancel()" class="btn btn-secondary w-100">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>